<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProblemsShowServlet</servlet-name>
    <servlet-class>shm.servlets.ProblemsShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetInformationServlet</servlet-name>
    <servlet-class>shm.servlets.GetInformationServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>IsSolvedServlet</servlet-name>
    <servlet-class>shm.servlets.IsSolvedServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PublishProblemServlet</servlet-name>
    <servlet-class>shm.servlets.PublishProblemServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>shm.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdatePasswordServlet</servlet-name>
    <servlet-class>shm.servlets.UpdatePasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MyPublishProblemsShowServlet</servlet-name>
    <servlet-class>shm.servlets.MyPublishProblemsShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MySolveProblemsServlet</servlet-name>
    <servlet-class>shm.servlets.MySolveProblemsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RankingListSearchServlet</servlet-name>
    <servlet-class>shm.servlets.RankingListSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProblemsSolvedServlet</servlet-name>
    <servlet-class>shm.servlets.ProblemsSolvedServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProblemsDeleteServlet</servlet-name>
    <servlet-class>shm.servlets.ProblemsDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateInformationServlet</servlet-name>
    <servlet-class>shm.servlets.UpdateInformationServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>shm.servlets.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdviceServlet</servlet-name>
    <servlet-class>shm.servlets.AdviceServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PicChangedServlet</servlet-name>
    <servlet-class>shm.servlets.PicChangedServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ManagerRegisterServlet</servlet-name>
    <servlet-class>shm.servlets.ManagerRegisterServlet</servlet-class>
  </servlet>
















  <servlet-mapping>
    <servlet-name>ProblemsShowServlet</servlet-name>
    <url-pattern>/ProblemsShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetInformationServlet</servlet-name>
    <url-pattern>/GetInformationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IsSolvedServlet</servlet-name>
    <url-pattern>/IsSolvedServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PublishProblemServlet</servlet-name>
    <url-pattern>/PublishProblemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatePasswordServlet</servlet-name>
    <url-pattern>/UpdatePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyPublishProblemsShowServlet</servlet-name>
    <url-pattern>/MyPublishProblemsShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MySolveProblemsServlet</servlet-name>
    <url-pattern>/MySolveProblemsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RankingListSearchServlet</servlet-name>
    <url-pattern>/RankingListSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProblemsSolvedServlet</servlet-name>
    <url-pattern>/ProblemsSolvedServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProblemsDeleteServlet</servlet-name>
    <url-pattern>/ProblemsDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateInformationServlet</servlet-name>
    <url-pattern>/UpdateInformationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdviceServlet</servlet-name>
    <url-pattern>/AdviceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PicChangedServlet</servlet-name>
    <url-pattern>/PicChangedServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerRegisterServlet</servlet-name>
    <url-pattern>/ManagerRegisterServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
